html {
    box-sizing: border-box;

    scroll-behavior: smooth;
    
}

*, *::before, *:after {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    min-height: 100vh;

    font-family: 'Inter', sans-serif;
    margin: 0;
}

img, svg {
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}

.overlay {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0.6);
    cursor: pointer;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.36s;
    white-space: nowrap;
}
.overlay:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.overlay_open {
    opacity: 1;
    visibility: visible;
}

@media (max-width:1024px) {
    .container {
        max-width: 840px;
    }
}
@media (max-width:768px) {
    .container {
        max-width: 740px;
    }
}
@media (max-width:480px) {
    .container {
        padding: 0 15px;
    }
}